# Django Secret Key
SECRET_KEY=django-insecure-2wn7(c33=%k#nrh_(naerq_ask7c=%s+iorbn3ke^-h1oid1(g

# Debug mode (True or False)
DJANGO_DEBUG=True

# External Database URL (e.g. Supabase, Neon PostgreSQL)
# DATABASE_URL=postgres://username:password@hostname:5432/database_name
